<style>
html {
  margin: -1em;
}
body {
  position: relative;
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  font-family: helvetica, sans-serif;
  text-align: center;
  overflow: hidden;
}
h1 {
  font-size: 72px;
  color: #FFEE7A;
}
p {
  font-size: 20px;
  color: #FFEE7A;
}
div.text {
  position: absolute;
  background: #08162B;
  padding: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #FFEE7A;
  border-radius: 5px;
  opacity: .8;
}
/* header { */
/*   background: #9BC1BC; */
/*   padding: 2em; */
/*   border-top: 10px solid #5CA4A9; */
/*   border-bottom: 5px solid #5CA4A9; */
/* } */
img {
 display: block;
 margin: 0 auto;
}
</style>
<body>
{{ content }}
</body>
